@import url("reset.css");
.clear {
    clear: both;
}

a {
    background-color: #464545;
    border: 15px solid #464545;
    margin: 0 auto;
}

#plaques.disabled > li, #operators.disabled > li, a.disabled {
    opacity: 0.6;
}

body {
    background-color: #111111;
    color: white;
    margin: 0 auto;
}

#playground {
    text-align: center;
    font-size: 2.5em;
    padding: 1em;
}

ul > li {
    display: inline-block;
}

#target {
    background-color: #253c54;
    border: .35em solid #253c54;
    margin: 0 20% 10px;
    opacity: 0.6;
}

#plaques > li {
    border: 10px solid #217dbb;
    background-color: #217dbb;
    margin: 0 5px;
}

#operators > li {
    background-color: #008966;
    border: 5px solid #008966;
    margin: 0 5px;
}

#target,
#plaques > li,
#operators > li {
    border-radius: 12px;
}

#operation.invalid > li {
    color: red;
}

/*

#plaques.disabled,
#operators.disabled > li {
    background-color: #999999 !important;
}

#plaques > li {
    width: 30%;
}

a.disabled {
    background-color: grey;
}
*/